[defaults]
inventory = ./inventory/production
roles_path = ./roles
vault_password_file = ~/.vault_pass.txt
host_key_checking = True
retry_files_enabled = False
private_key_file = ~/.ssh/ebox86_ansible_ed25519
